@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light mode scrollbar */
::-webkit-scrollbar-track {
  background: var(--tw-color-gray-300);
}

::-webkit-scrollbar-thumb {
  background-color: var(--tw-color-gray-500);
}

body.dark ::-webkit-scrollbar-track {
  background: var(--tw-color-gray-800);
}

body.dark ::-webkit-scrollbar-thumb {
  background-color: var(--tw-color-gray-600);
}

body.light ::-webkit-scrollbar-track {
  background: var(--tw-color-gray-300);
}

body.light ::-webkit-scrollbar-thumb {
  background-color: var(--tw-color-gray-500);
}
